.App {
  text-align: center;
  background: #ecececd6;
}

.App-header {
  background-color: #282c34;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold ;
  letter-spacing: 2px;
  color: white;
}