body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


td, th {
  border: 1px solid #CCC;
  padding: 8px;
  font-size: 14px;
  padding: 4px 16px;
}

th{
  color:#FFF;
  background: #207d94;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
}
table {
  border-collapse: collapse;
  background: #FFF;
}